body
  margin: 0
  padding: 0

  header
    background-color: rgba(255,255,255,0.5)
    height: 20px
    left: 0
    position: fixed
    text-align: center
    top: 0
    width: 100%
    z-index: 1

    h1
      font-family: monospace
      font-size: 10px
      line-height: 200%
      margin: 0
      padding: 0

  #main
    position: absolute
    width: 100%

    #loader
      color: rgb(200,200,200)
      position: fixed
      text-align: center
      top: 45%
      width: 100%

    .image
      background-attachment: fixed
      background-position: 50% 50%
      background-repeat: no-repeat
      box-shadow: 0 0 50px rgb(0,0,0)
      height: (100 / 12)%
      position: relative
      width: 100%

  footer
    background-color: rgba(255,255,255,0.5)
    bottom: 0
    height: 20px
    left: 0
    position: fixed
    text-align: center
    width: 100%
    z-index: 1

    p
      font-size: 10px
      line-height: 200%
      margin: 0
      padding: 0
