@import 'nib'
@import '_mixins'
@import '_practices'

// Variables

cForeground = rgb(103,96,82)
cBackground = rgb(255,246,246)
cBackgroundWithTransparency = rgba(255,246,246,0.5)
cPink = rgb(238,128,135)


// Layouts

body
  background-color: cBackground
  color: cForeground
  margin: 0
  padding: 0

  header
    background-color: cBackgroundWithTransparency
    height: 20px
    left: 0
    position: fixed
    text-align: center
    top: 0
    width: 100%
    z-index: 1

    h1
      font-family: monospace
      font-size: 10px
      line-height: 200%
      margin: 0
      padding: 0

  #main
    position: absolute
    width: 100%

    #title
      bottom: 20px
      left: 5%
      margin: 0
      padding: 0
      position: fixed
      z-index: 1

    #loader
      position: fixed
      text-align: center
      top: 45%
      width: 100%

      #text
        font-family: monospace

      #bar
        background-color: cPink
        height: 10px
        left: 0
        position: absolute
        top: 0
        transition: width 0.5s ease 0
        width: 0

    .image
      background-attachment: fixed
      background-position: 50% 50%
      background-repeat: no-repeat
      box-shadow: 0 0 50px rgb(0,0,0)
      height: (100 / 12)%
      position: relative
      width: 100%

  footer
    background-color: cBackgroundWithTransparency
    bottom: 0
    height: 20px
    left: 0
    position: fixed
    text-align: center
    width: 100%
    z-index: 1

    p
      font-size: 10px
      line-height: 200%
      margin: 0
      padding: 0
