extends _layout

block head-title
  title 魔法少女まどか☆マギカ

block head-meta
  meta(name='robots', content='noindex,nofollow')

block head-style
  link(rel='stylesheet', href='./css/parallax.min.css')

block body-content
  header
    h1 /人◕ ‿‿ ◕人\

  section#main
    p#loader

  footer
    p
      q 魔法少女まどか☆マギカ
      | は
      q Magica Quartet
      | と
      q 株式会社アニプレックス
      | の著作物です。

block body-script
  script(src='./js/parallax.min.js', charset='UTF-8')
